<div class="ct_login_bg_main">
    <div class="ct_login_inner"  data-tilt>
      <div class="mb-5 ct_login_head">
        <h2 class=" text-center text-white ct_JlrGoodRead">Forgot Password?</h2>
        <p class="text-center text-white">Enter you email address</p>
       </div>
        <form action="">
            <div class="form-floating mb-3 ct_input">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
                   <!-- <p class="ct_error_text">Please enter your email</p> -->
              </div>

              <div class="text-center mt-5">
                <button type="button" class="ct_custom_btn">Continue</button>
              </div>
              <p class="text-center mt-3 ct_bottom_link">Already have an account? <a href="login.html"> Sign in</a></p>
              
        </form>
    </div>
</div>
<div class="ct_loader">
    <div class="loader book">
        <figure class="page"></figure>
        <figure class="page"></figure>
        <figure class="page"></figure>
      </div>
      <h1>Reading</h1>
</div>