<div class="ct_middle_cnt">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="ct_my_profile_main">
                <h2 class="mb-5 ct_h2">My Profile</h2>
                <form action="#">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-floating mb-3 ct_input">
                          <input type="email" class="form-control" id="floatingInput"  value="John" disabled>
                          <label for="floatingInput">First Name</label>
                          <!-- <p class="ct_error_text">Please enter your first name</p> -->
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-floating mb-3 ct_input">
                          <input type="email" class="form-control" id="floatingInput"  value="Doe"  disabled>
                          <label for="floatingInput">Last Name</label>
                          <!-- <p class="ct_error_text">Please enter your last name</p> -->
                        </div>
                      </div>
                    </div>
                        
                      <div class="form-floating mb-3 ct_input">
                          <input type="email" class="form-control" id="floatingInput" value="johndoe@gmail.com" disabled>
                          <label for="floatingInput">Email address</label>
                          <!-- <p class="ct_error_text">Please enter your email</p> -->
                        </div>
                     
                       
                        <div class="text-center mt-5">
                          <a href="edit-profile.html" type="button" class="ct_custom_btn" style="text-decoration: none;">Edit Profile</a>
                        </div>
                      
                        
                  </form>
            </div>

        </div>

    </div>
</div>