<div class="ct_login_bg_main">
    <div class="ct_login_inner" style="transform-style: unset;"  maxTilt=10 ngTilt>
      <div class="mb-5 ct_login_head">
        <h2 class=" text-center text-white ct_JlrGoodRead">Sign Up</h2>
        <p class="text-center mt-3 ct_bottom_link text-white">Already have an account? <a routerLink="/"> Login here</a></p>
       </div>
        <form action="index.html">
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3 ct_input">
                <input type="email" class="form-control" id="floatingInput" placeholder="First Name">
                <label for="floatingInput">First Name</label>
                <!-- <p class="ct_error_text">Please enter your first name</p> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3 ct_input">
                <input type="email" class="form-control" id="floatingInput" placeholder="Last Name">
                <label for="floatingInput">Last Name</label>
                <!-- <p class="ct_error_text">Please enter your last name</p> -->
              </div>
            </div>
          </div>
              
            <div class="form-floating mb-3 ct_input">
                <input type="email" class="form-control" id="floatingInput" placeholder="Email address">
                <label for="floatingInput">Email address</label>
                <!-- <p class="ct_error_text">Please enter your email</p> -->
              </div>
              <div class="form-floating ct_input mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
                <!-- <p class="ct_error_text">Please enter your Password</p> -->
                <i class="fa-regular fa-eye ct_show_pass"></i>
              </div>
              <div class="form-floating ct_input">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password">
                <label for="floatingPassword">Confirm Password</label>
                <!-- <p class="ct_error_text">Please enter your conform Password</p> -->
                <i class="fa-regular fa-eye ct_show_pass"></i>
              </div>

              <div class="form-check ct_terms_check mt-3">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something">
                <label class="form-check-label" for="check1">Accept the all terms of use</label>
              </div>
              <div class="text-center mt-5">
                <a type="button" class="ct_custom_btn ct_login_text_white">Sign Up</a>
              </div>
            
              
        </form>
    </div>
</div>
<div class="ct_loader">
  <div class="loader book">
      <figure class="page"></figure>
      <figure class="page"></figure>
      <figure class="page"></figure>
    </div>
    <h1>Reading</h1>
</div>