<div class="ct_right_header">
    <div class="ct_toggle_bar">
        <i class="fa-solid fa-bars-staggered"></i>
    </div>
   <div class="d-flex align-items-center gap-2 ct_flex_res" *ngIf="version$ | async as version">

    <select class="ct_verse_version_drop" [(ngModel)]="selectedOption" (change)="onChangeVersion($event)" >
        <option *ngFor="let items of version.data" [value]="items.table_name">{{items.name}}</option>
        <!-- <option value=""> New International Version (NIV)</option>
        <option value=""> English Standard Version (ESV)</option>
        <option value=""> New American Standard Bible (NASB)</option> -->
    </select>
        <div class="ct_search_bar">
            <input type="text" class="form-control" placeholder="Search Verse" [(ngModel)]="verse_number"  autocomplete="on" >
            <i class="fa-solid fa-magnifying-glass" (click)="search_verse()"></i>
            <div class="ct_search_list12">
                <ul>
                    <li>James 1:19</li>
                    <li>James 1:19</li>
                    <li>James 1:19</li>
                    <li>James 1:19</li>
                </ul>
            </div>
        </div>
        <div class="ct_search_bar">
            <input type="text" class="form-control" placeholder="Search By Keyword" [(ngModel)]="keyWord"  autocomplete="on" >
            <i class="fa-solid fa-magnifying-glass" (click)="search_keyword()"></i>
            <div class="ct_search_list12">
                <ul>
                    <li>James 1:19</li>
                    <li>James 1:19</li>
                    <li>James 1:19</li>
                    <li>James 1:19</li>
                </ul>
            </div>
        </div>
   </div>
        <div class="d-flex align-items-center gap-2 d-none">
            <a href="login.html">Login</a>
            /
            <a href="signup.html">Sign Up</a>
        </div>
        <div class="ct_my_account dropdown">
            <button class="btn ct_custom_btn py-2 px-4 w-auto dropdown-toggle"  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
               My Account
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="my-profile.html">My Profile</a></li>
                  <li><a class="dropdown-item" href="my-verses.html">My Verses</a></li>
                <li><a class="dropdown-item" href="change-password.html">Change Password</a></li>
                <li>  <a class="dropdown-item" (click)="logout()">Log Out</a></li>
              </ul>
            
        </div>
</div>
