.sb-circles-dark.sb-group .sb-content {
    color: #000;
}
.ct_edited_share_postion_fix12{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.form-control{
    appearance: auto !important;
}

span.Ct_verse_count_no_12 {
    position: absolute;
    left: -10px;
    top: -3px;
    font-size: 13px;
    font-weight: 700;
}

span.text-big {
    font-size: 24.2px;
}
span.text-huge {
    font-size: 32.2px;
}