.sb-circles-dark.sb-group .sb-content {
    color: #000;
}
.ct_edited_share_postion_fix12{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.form-control{
    appearance: auto !important;
}