<div class="ct_middle_cnt">



    <!-- Single verse reasult section -->
    <section class="mb-5" *ngIf="isActiveLabel()?.length > 0">

        <div class="d-flex align-items-center flex-wrap mb-4 justify-content-between gap-2">
            <h2 class="mb-0 ct_h2">Search Results Verse</h2>
            <a class="ct_page_link" (click)="clearResults()">Clear Results</a>
        </div>
        <div class="ct_verse_bg" style="background-color:#3a0d0f;">
            <img src="assets/img/verse_day1.jpg">
            <div class="ct_verse_overlay">
                <div class="ct_verse_head">
                    <!-- book_name chapter -->
                    <h4 class="mb-0">{{isActiveLabel()[0]?.book_name}}
                        {{isActiveLabel()[0]?.chapter}}:{{isActiveLabel()[0]?.verse_number}}</h4>
                    <p>
                        {{isActiveLabel()[0]?.verse}}
                    </p>

                    <div class="ct_socials_bottom_position">
                        <div class="d-flex align-items-end gap-3">
                            <div class="ct_share_main">
                                <i class="fa-solid fa-share-nodes"></i>
                                <ul class="ct_animated_socials">
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li> <a href="#"><i class="fa-solid fa-envelope"></i></a> </li>
                                    <li> <a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                    <li> <a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-digg"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-stumbleupon"></i></a></li>
                                    <li> <a href="#"><i class="fa-brands fa-reddit"></i></a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="d-flex align-items-end gap-3">
                            <div>
                                <button class="ct_custom_btn py-2 px-3 w-auto" data-bs-toggle="modal"
                                    data-bs-target="#ct_save_verse_modal2" style="margin-top: 10px;"><i
                                        class="fa-solid fa-floppy-disk me-2"></i> Save Verse</button>
                            </div>
                            <div class="ct_customize_btn12">
                                <button class="ct_custom_btn" (click)="customizeVerse2()"
                                    (click)="customize2 = !customize2"><i class="fa-regular fa-pen-to-square me-2"></i>
                                    Customize</button>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
        <!-- <div class="ct_bottom_customize" *ngIf="customize">

            <label for="">Edit Verse No</label>
            <ckeditor class="ct_ol_padd" [editor]="Editor" (change)="onEditorChange($event)" (ready)="onReady($event)">
            </ckeditor>
            <button class="ct_custom_btn w-auto mt-3 py-2">Save</button>
        </div> -->
        <div class="ct_bottom_customize" *ngIf="customize2">
            <label for="Verse no" class="ct_fw_600 mb-2">Verse number</label>
            <ckeditor class="ct_ol_padd" [editor]="Editor" [data]="verse_number" (change)="onEditorChange3($event)"
                [(ngModel)]="editorData3" (ready)="onReady($event)"></ckeditor>
            <label for="Verse">Verse</label>
            <ckeditor class="ct_ol_padd" [editor]="Editor2" [data]="verse" (change)="onEditorChange4($event)"
                [(ngModel)]="editorData4" (ready)="onReady($event)"></ckeditor>
            <input type="text" placeholder="Add custom message" #message>
            <button class="ct_custom_btn w-auto mt-3 py-2" (click)="saveEditedVerse2(message)">Save</button>
        </div>
    </section>

    <!-- keyword results section -->
    <section class="mb-5" *ngIf="keywordDatas().length >0">

        <div class="d-flex align-items-center flex-wrap mb-4 justify-content-between gap-2">
            <h2 class="mb-0 ct_h2">Keyword Results Verse</h2>
            <a class="ct_page_link" (click)="clearResults()">Clear Results</a>
        </div>
        <p-table class="ct_custom_table" [value]="keywordDatas()" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
                <tr>

                    <th>Verse No.</th>
                    <th>Verse</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car>
                <tr>

                    <td>{{car.book_name}}{{car.chapter}}:{{car.verse_number}}</td>
                    <td>{{car.verse}}</td>
                    <td class="d-flex align-items-center gap-3 justify-content-end ct_action_btns">
                        <i class="fa-solid fa-pen" data-bs-toggle="modal" data-bs-target="#ct_save_verse_modal"
                            style="cursor: pointer;" title="Update"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>


    </section>

    <!-- verse of the day section -->
    <section class="mb-5" *ngIf="verseDay$ | async as verses">
        <div class="d-flex align-items-center flex-wrap mb-4 justify-content-between gap-2">
            <h2 class="mb-0 ct_h2">Bible Verse of the Day</h2>
            <a href="bible-chapter.html" class="ct_page_link">Read whole chapter</a>
        </div>
        <div class="ct_verse_bg" style="background-color:#3a0d0f;">
            <img src="assets/img/verse_day1.jpg">
            <div class="ct_verse_overlay">
                <div class="ct_verse_head">
                    <h4 class="mb-0">{{verses.data.book_name}} {{verses.data.chapter}}:{{verses.data.verse_number}}</h4>
                    <p>
                        {{verses.data.verse}}
                    </p>

                    <div class="ct_socials_bottom_position">
                        <div class="d-flex align-items-end gap-3">
                            <div class="ct_share_main">
                                <i class="fa-solid fa-share-nodes" (click)="shareButton = !shareButton"></i>
                                <share-buttons *ngIf="shareButton" class="ct_social_icon_clr" theme='modern-dark'
                                    [include]="['copy', 'facebook', 'email', 'telegram', 'twitter', 'whatsapp']"  [show]="5"
                                    [showIcon]="true" [showText]="false" [url]="shareUrl"
                                    description="Bible Verse" class="pt-5">
                                </share-buttons>
                                <!-- url="https://rodrigo.kamada.com.br/" -->
                                <!-- <ul class="ct_animated_socials">
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li> <a href="#"><i class="fa-solid fa-envelope"></i></a> </li>
                                    <li> <a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                    <li> <a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-digg"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-stumbleupon"></i></a></li>
                                    <li> <a href="#"><i class="fa-brands fa-reddit"></i></a></li> -->
                                <!-- </ul> -->
                            </div>

                        </div>
                        <div class="d-flex align-items-end gap-3">
                            <div>
                                <button class="ct_custom_btn py-2 px-3 w-auto" data-bs-toggle="modal"
                                    data-bs-target="#ct_save_verse_modal" style="margin-top: 10px;"><i
                                        class="fa-solid fa-floppy-disk me-2"></i> Save Verse</button>
                            </div>
                            <div class="ct_customize_btn12">
                                <button class="ct_custom_btn" (click)="customizeVerse()"><i
                                        class="fa-regular fa-pen-to-square me-2"></i> Customize</button>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
        <div class="ct_bottom_customize" *ngIf="customize">

            <label for="Verse no" class="ct_fw_600 mb-2">Verse number</label>
            <ckeditor class="ct_ol_padd" [editor]="Editor" [data]="verse_number" (change)="onEditorChange($event)"
                [(ngModel)]="editorData" (ready)="onReady($event)"></ckeditor>
            <label for="Verse" class="ct_fw_600 mb-2 mt-4">Verse</label>
            <ckeditor class="ct_ol_padd" [editor]="Editor2" [data]="verse" (change)="onEditorChange2($event)"
                [(ngModel)]="editorData2" (ready)="onReady($event)"></ckeditor>
            <input type="text" placeholder="Add custom message" class="form-control mt-3" #message>
            <label for="">Select card template</label>
            <select class="ct_verse_version_drop" [(ngModel)]="selectedTempalte" *ngIf="template$ | async as template">
                <option value=0>Select verse</option>
                <option *ngFor="let option of template.data" >
                    {{option.image}}</option>
                </select>
                <button class="ct_custom_btn w-auto mt-3 py-2" (click)="saveEditedVerse(message)">Save</button>
                <button class="ct_custom_btn w-auto mt-3 py-2" data-bs-toggle="modal"
                data-bs-target="#preview_modal">Preview</button>
                <button class="ct_custom_btn w-auto mt-3 py-2" (click)="saveEditedVerse(message)">Share</button>
        </div>
    </section>






    <app-footer></app-footer>





</div>

<div class="modal fade" id="ct_save_verse_modal" tabindex="-1" aria-labelledby="ct_save_verse_modalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 pt-0">
                <div class="ct_saved_verse_modal">
                    <h4 class="mb-4 text-center"><strong>Save Verse</strong></h4>
                    <form>
                        <textarea rows="4" class="form-control" placeholder="Please add a note" [(ngModel)]="notes"
                            [ngModelOptions]="{standalone: true}"></textarea>
                    </form>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn-secondary ct_custom_btn text-dark py-2 px-4  w-auto"
                    style="background-color:  #eee;" data-bs-dismiss="modal" id="modalClose">Close</button>
                <button type="button" class="ct_custom_btn py-2 px-4 w-auto" (click)="saveVerse()">Save</button>
                <button hidden type="button" class="btn btn-secondary" #closeModal
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ct_save_verse_modal2" tabindex="-1" aria-labelledby="ct_save_verse_modalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 pt-0">
                <div class="ct_saved_verse_modal">
                    <h4 class="mb-4 text-center"><strong>Save Verse</strong></h4>
                    <form>
                        <textarea rows="4" class="form-control" placeholder="Please add a note" [(ngModel)]="notes"
                            [ngModelOptions]="{standalone: true}"></textarea>
                    </form>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn-secondary ct_custom_btn text-dark py-2 px-4  w-auto"
                    style="background-color:  #eee;" data-bs-dismiss="modal" id="modalClose">Close</button>
                <button type="button" class="ct_custom_btn py-2 px-4 w-auto" (click)="saveVerse2()">Save</button>
                <button hidden type="button" class="btn btn-secondary" #closeModal2
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<section #contentDiv  class="ct_page_link" style="display: none;">
    <div class="d-flex align-items-center flex-wrap mb-4 justify-content-between gap-2">
        <h2 class="mb-0 ct_h2">Bible Verse of the Day</h2>
       
    </div>
    <div class="ct_verse_bg" style="background-color:#3a0d0f;">
        <img src="assets/img/verse_day1.jpg">
        <div class="ct_verse_overlay">
            <div class="ct_verse_head">
                <h4 class="mb-0">{{ this.verseOftheDay.book_name}} {{ this.verseOftheDay.chapter}}:{{ this.verseOftheDay.verse_number}}</h4>
                <p>
                    {{ this.verseOftheDay.verse}}
                </p>
            </div>


        </div>
    </div>
  
</section>

<div class="modal fade" id="preview_modal" tabindex="-1" aria-labelledby="preview_modal"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <section class="ct_page_link">
                
                <div class="ct_verse_bg" style="background-color:#3a0d0f;">
                    <img src="assets/img/verse_day1.jpg">
                    <div class="ct_verse_overlay">
                        <div class="ct_verse_head">
                            <h4 class="mb-0" [innerHTML]="editorData | safeHtml"></h4>
                            <p [innerHTML]="editorData2 | safeHtml">
                                
                            </p>
                        </div>
            
            
                    </div>
                </div>
              
            </section>
        </div>
    </div>
</div>

