 <div *ngIf="image$ | async as images">
    <section class="mb-3" >
           <div class="container">
               <div class="col-md-12">
                   <div class="ct_banner_small">
                    <a href="{{images.data[0].small_link}}" target="_blank" > <img src="assets/img/verse_day2.jpg" src="{{this.apiService.imageUrl + images.data[0].small_image}}" alt=""></a>
                      
                   </div>
               </div>
   
           </div>
       </section>
       <section>
           <div class="container">
               <div class="col-md-12">
                   <div class="ct_banner_big">
                    <a href="{{images.data[0].big_link}}" target="_blank" >    <img src="assets/img/verse_day2.jpg" src="{{this.apiService.imageUrl + images.data[0].big_image}}" alt=""></a>
                   
                   </div>
               </div>
   
           </div>
       </section>

 </div>