<div class="ct_middle_cnt">
    <section class="mb-5">
     <div class="d-flex align-items-center flex-wrap mb-4 justify-content-between">
         <h2 class="mb-0 ct_h2">Send Bible Verses</h2>
        
     </div>
     <div class="ct_verse_bg" style="background-color:#3a0d0f;">
         <img src="img/verse_day1.jpg">
         <div class="ct_verse_overlay">
             <div class="ct_verse_head">
                 <h4 class="mb-0">James 1:19 ESV</h4>
                 <p>
                     Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                 </p>
                
              <div class="ct_socials_bottom_position">
                 <div class="d-flex align-items-center">
                     <div class="ct_share_main">
                         <i class="fa-solid fa-share-nodes"></i>
                         <ul class="ct_animated_socials">
                             <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                             <li> <a href="#"><i class="fa-solid fa-envelope"></i></a> </li> 
                             <li> <a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                             <li> <a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                             <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                             <li><a href="#"><i class="fa-brands fa-digg"></i></a></li>
                             <li><a href="#"><i class="fa-brands fa-stumbleupon"></i></a></li>
                             <li> <a href="#"><i class="fa-brands fa-reddit"></i></a></li>
                         </ul>
                        </div>
                  </div>
                  <div class="ct_customize_btn12">
                     <button class="ct_custom_btn"><i class="fa-regular fa-pen-to-square me-2"></i> Customize</button>
                 </div>
              </div>

                
             </div>

            
         </div>
     </div>
     <div class="ct_bottom_customize">
       <div class="d-flex align-items-center gap-2 flex-wrap">
         <div class="ct_background_img">
             <label for="change_bg1">
              <input type="file" id="change_bg1" class="d-none">
              <i class="fa-solid fa-camera"></i>
             </label>
          </div>
          <div class="ct_bg_color">
            <input type="color" class="form-control">
         </div>
          <div class="ct_font_size">
              <div class="ct_add_size">
                  <i class="fa-solid fa-plus"></i>
              </div>
              <input type="number" class="form-control" placeholder="font-size" value="16">
              <div class="ct_add_size">
                  <i class="fa-solid fa-minus"></i>
              </div>
          </div>
          <div class="ct_font-family">
              <select name="" id="" class="form-control">
                  <option value="">Open Sans</option>
                  <option value="">Poppins</option>
                  <option value="">Roboto</option>
              </select>
          </div>
          <div class="ct_color">
              <label for="ct_color_font">A</label>
             <input type="color" class="form-control" id="ct_color_font">
          </div>
       </div>
         <div class="ct_custom_message mt-3" style="flex: 1;">
             <textarea rows="4" class="form-control" placeholder="Add Custom Note"></textarea>
         </div>
         <button class="ct_custom_btn w-auto mt-3 py-2">Save</button>

     </div>
    </section>


    <section class="mb-3">
     <div class="container">
         <div class="col-md-12">
             <div class="ct_banner_small">
                 <img src="img/verse_day2.jpg" alt="">
             </div>
         </div>

     </div>
    </section>
    <section>
     <div class="container">
         <div class="col-md-12">
             <div class="ct_banner_big">
                 <img src="img/verse_day2.jpg" alt="">
             </div>
         </div>

     </div>
    </section>


    


 </div>