<div class="ct_login_bg_main">
  <div class="ct_login_inner" style="transform-style: unset;" maxTilt=10 ngTilt>
    <div class="mb-5 ct_login_head">
      <h2 class=" text-center text-white ct_JlrGoodRead">Sign In</h2>
      <p class="text-center mt-3 ct_bottom_link text-white">Don't have an account? <a routerLink="/signup"> Sign Up</a>
      </p>
    </div>
    <form [formGroup]="loginForm">
      <div class="form-floating mb-3 ct_input">
        <input type="email" class="form-control" id="floatingInput" formControlName="email"
          placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
        <!-- <p class="ct_error_text">Please enter your email</p> -->
        <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="error-message">
          <div *ngIf="loginForm.controls['email'].errors?.['required']">Email is required.</div>
          <div
            *ngIf="loginForm.controls['email'].errors?.['email'] && !loginForm.controls['email'].errors?.['required']">
            Invalid email format.</div>
        </div>
      </div>
      <div class="form-floating ct_input ">
        <input type="{{ isPasswordVisible ? 'text' : 'password' }}" class="form-control" id="floatingPassword" formControlName="password"
          placeholder="Password">
        <label for="floatingPassword">Password</label>
        <i class="fa-regular ct_show_pass" [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash' "
        (click)="togglePasswordVisibility()"></i>
        <!-- <p class="ct_error_text">Please enter your Password</p> -->
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
          class="error-message">
          <div *ngIf="loginForm.controls['password'].errors?.['required']">Password is required.</div>
        </div>
      </div>
      <div class="text-end mt-2">
        <a href="forgot-password.html">Forgot Password?</a>
      </div>

      <div class="text-center mt-5" (click)="login()">
        <a type="button" class="ct_custom_btn ct_login_text_white">Sign In</a>
      </div>

    </form>
  </div>
</div>
<div class="ct_loader">
  <div class="loader book">
    <figure class="page"></figure>
    <figure class="page"></figure>
    <figure class="page"></figure>
  </div>
  <h1>Reading</h1>
</div>