.shared-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    width: 100%;
    padding-inline: 15px;
}
.shared-content > div {
    max-width: 850px;
    width: 100%;
}
