<div class="ct_middle_cnt">
    <section class="mb-5">
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="ct_search_list">
                   <h4> Verse: John 3:16 (NIV)</h4>
                   <p class="ct_fw_500 mb-2">Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                </p>
                    <p><strong>Note:</strong> "God's love, as shown through Jesus, offers eternal life to all who believe. It's a profound reminder of His boundless grace and the depth of His affection for humanity."</p>
                   
                </div>
            </div>
            <div class="col-md-12">
                <div class="ct_search_list">
                   <h4> Verse: John 3:16 (NIV)</h4>
                   <p class="ct_fw_500 mb-2">Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                </p>
                    <p><strong>Note:</strong> "God's love, as shown through Jesus, offers eternal life to all who believe. It's a profound reminder of His boundless grace and the depth of His affection for humanity."</p>
                   
                </div>
            </div>
            <div class="col-md-12">
                <div class="ct_search_list">
                   <h4> Verse: John 3:16 (NIV)</h4>
                   <p class="ct_fw_500 mb-2">Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                </p>
                    <p><strong>Note:</strong> "God's love, as shown through Jesus, offers eternal life to all who believe. It's a profound reminder of His boundless grace and the depth of His affection for humanity."</p>
                   
                </div>
            </div>
            <div class="col-md-12">
                <div class="ct_search_list">
                   <h4> Verse: John 3:16 (NIV)</h4>
                    <p class="ct_fw_500 mb-2">Note: "God's love, as shown through Jesus, offers eternal life to all who believe. It's a profound reminder of His boundless grace and the depth of His affection for humanity."</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ct_search_list">
                   <h4> Verse: John 3:16 (NIV)</h4>
                   <p class="ct_fw_500 mb-2">Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                </p>
                    <p><strong>Note:</strong> "God's love, as shown through Jesus, offers eternal life to all who believe. It's a profound reminder of His boundless grace and the depth of His affection for humanity."</p>
                   
                </div>
            </div>
            <div class="col-md-12">
                <div class="ct_search_list">
                   <h4> Verse: John 3:16 (NIV)</h4>
                   <p class="ct_fw_500 mb-2">Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                </p>
                    <p><strong>Note:</strong> "God's love, as shown through Jesus, offers eternal life to all who believe. It's a profound reminder of His boundless grace and the depth of His affection for humanity."</p>
                   
                </div>
            </div>
            <div class="col-md-12">
                <div class="ct_search_list">
                   <h4> Verse: John 3:16 (NIV)</h4>
                   <p class="ct_fw_500 mb-2">Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                </p>
                    <p><strong>Note:</strong> "God's love, as shown through Jesus, offers eternal life to all who believe. It's a profound reminder of His boundless grace and the depth of His affection for humanity."</p>
                   
                </div>
            </div>
            <div class="col-md-12">
                <div class="ct_search_list">
                   <h4> Verse: John 3:16 (NIV)</h4>
                   <p class="ct_fw_500 mb-2">Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                </p>
                    <p><strong>Note:</strong> "God's love, as shown through Jesus, offers eternal life to all who believe. It's a profound reminder of His boundless grace and the depth of His affection for humanity."</p>
                   
                </div>
            </div>
        </div>
    </section>
   

   
   <section>
    <div class="container">
        <div class="col-md-12">
            <div class="ct_banner_big">
                <img src="img/verse_day2.jpg" alt="">
            </div>
        </div>

    </div>
   </section>


   


</div>