<div class="ct_middle_cnt">
    <section class="mb-5">
        <div class="row">

            <div class="col-md-10 mx-auto">
                <div class="mb-4">
                    <a routerLink="/main/bible_books" class="ct_custom_btn py-2 w-auto px-3"><i
                            class="fa-solid fa-arrow-left me-2  w-auto"></i> Back</a>
                </div>


                <!-- <div>Some tags before</div>
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide>Slide 1</ng-template>  
                  <ng-template carouselSlide>Slide 2</ng-template>  
                  <ng-template carouselSlide>Slide 3</ng-template>  
                </owl-carousel-o>
                <div>Some tags after</div> -->


                <div class="ct_bible_chapter_main">
                    <div class="ct_chapper_inner_cnt">
                        <div class="item">
                            <h4>{{chapterVerses[0]?.book_name}} &nbsp; {{chapterVerses[0]?.chapter}}</h4>
                            <ol>
                                <li *ngFor="let items of chapterVerses ">
                                    {{items.verse}}
                                </li>
                               
                            </ol>
                        </div>

                        <div class="mb-4">
                            <a class="ct_custom_btn py-2 w-auto px-3 ml-3" (click)="previous()"><i
                                    class="fa-solid fa-arrow-left me-2  w-auto" ></i> Previous</a>
                            <a style="margin-left: 10px;" class="ct_custom_btn py-2 w-auto px-3" (click)="next()"><i
                                    class="fa-solid fa-arrow-right me-2  w-auto" ></i> Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <app-footer></app-footer>


</div>