<div class="ct_middle_cnt">
    <section class="mb-5">
        <div class="row">

            <div class="col-md-10 mx-auto">
                <div class="mb-4">
                    <a routerLink="/main/bible_books" class="ct_custom_btn py-2 w-auto px-3"><i
                            class="fa-solid fa-arrow-left me-2  w-auto"></i> Back</a>
                </div>


                <!-- <div>Some tags before</div>
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide>Slide 1</ng-template>  
                  <ng-template carouselSlide>Slide 2</ng-template>  
                  <ng-template carouselSlide>Slide 3</ng-template>  
                </owl-carousel-o>
                <div>Some tags after</div> -->


                <div class="ct_bible_chapter_main">
                    <div class="ct_chapper_inner_cnt">
                        <div class="item">
                            <h4>Mateus 1</h4>
                            <ol>
                                <li>
                                    Livro da genealogia de Jesus Cristo, filho de Davi, filho de Abraão.
                                </li>
                                <li>A Abraão nasceu Isaque; a Isaque nasceu Jacó; a Jacó nasceram Judá e seus irmãos;
                                </li>
                                <li>a Judá nasceram, de Tamar, Farés e Zará; a Farés nasceu Esrom; a Esrom nasceu Arão;
                                </li>
                                <li>a Arão nasceu Aminadabe; a Aminadabe nasceu Nasom; a Nasom nasceu Salmom;</li>
                                <li>a Salmom nasceu, de Raabe, Booz; a Booz nasceu, de Rute, Obede; a Obede nasceu
                                    Jessé;</li>
                                <li>e a Jessé nasceu o rei Davi. A Davi nasceu Salomão da que fora mulher de Urias;</li>
                                <li>a Salomão nasceu Roboão; a Roboão nasceu Abias; a Abias nasceu Asafe;</li>
                                <li>a Asafe nasceu Josafá; a Josafá nasceu Jorão; a Jorão nasceu Ozias;</li>
                                <li>a Ozias nasceu Joatão; a Joatão nasceu Acaz; a Acaz nasceu Ezequias;</li>
                                <li>a Ezequias nasceu Manassés; a Manassés nasceu Amom; a Amom nasceu Josias;</li>
                                <li>a Josias nasceram Jeconias e seus irmãos, no tempo da deportação para Babilônia.
                                </li>
                                <li>Depois da deportação para Babilônia nasceu a Jeconias, Salatiel; a Salatiel nasceu
                                    Zorobabel;</li>
                                <li>a Zorobabel nasceu Abiúde; a Abiúde nasceu Eliaquim; a Eliaquim nasceu Azor;</li>
                                <li>a Azor nasceu Sadoque; a Sadoque nasceu Aquim; a Aquim nasceu Eliúde;</li>
                                <li> a Eliúde nasceu Eleazar; a Eleazar nasceu Matã; a Matã nasceu Jacó;</li>
                                <li>e a Jacó nasceu José, marido de Maria, da qual nasceu JESUS, que se chama Cristo.
                                </li>
                                <li>De sorte que todas as gerações, desde Abraão até Davi, são catorze gerações; e desde
                                    Davi até a deportação para Babilônia, catorze gerações; e desde a deportação para
                                    Babilônia até o Cristo, catorze gerações.</li>
                                <li>Ora, o nascimento de Jesus Cristo foi assim: Estando Maria, sua mãe, desposada com
                                    José, antes de se ajuntarem, ela se achou ter concebido do Espírito Santo.</li>
                                <li> E como José, seu esposo, era justo, e não a queria infamar, intentou deixá-la
                                    secretamente.</li>
                                <li> E, projetando ele isso, eis que em sonho lhe apareceu um anjo do Senhor, dizendo:
                                    José, filho de Davi, não temas receber a Maria, tua mulher, pois o que nela se gerou
                                    é do Espírito Santo;</li>
                            </ol>
                        </div>

                        <div class="mb-4">
                            <a class="ct_custom_btn py-2 w-auto px-3"><i
                                    class="fa-solid fa-arrow-left me-2  w-auto"></i> Pre</a>
                            <a class="ct_custom_btn py-2 w-auto px-3"><i
                                    class="fa-solid fa-arrow-right me-2  w-auto"></i> Next</a>
                        </div>


                    </div>
                </div>
            </div>

        </div>


    </section>


    <app-footer></app-footer>


</div>