<div class="ct_middle_cnt">
    <div class="ct_custom_tabs">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-Saved-Verses-tab" data-bs-toggle="pill" data-bs-target="#pills-Saved-Verses" type="button" role="tab" aria-controls="pills-Saved-Verses" aria-selected="true">Saved Verses</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-Notes-tab" data-bs-toggle="pill" data-bs-target="#pills-Notes" type="button" role="tab" aria-controls="pills-Notes" aria-selected="false">Notes</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-Saved-Edited-Verses-tab" data-bs-toggle="pill" data-bs-target="#pills-Saved-Edited-Verses" type="button" role="tab" aria-controls="pills-Saved-Edited-Verses" aria-selected="false">Saved Edited Verses</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-Friends-Email-List-tab" data-bs-toggle="pill" data-bs-target="#pills-Friends-Email-List" type="button" role="tab" aria-controls="pills-Friends-Email-List" aria-selected="false">Friends Email List</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-Saved-Searches-tab" data-bs-toggle="pill" data-bs-target="#pills-Saved-Searches" type="button" role="tab" aria-controls="pills-Saved-Searches" aria-selected="false">Saved Searches</button>
              </li>
          
          
          </ul>
          <div class="tab-content mt-5" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-Saved-Verses" role="tabpanel" aria-labelledby="pills-Saved-Verses-tab">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="ct_verse_bg mb-4" style="background-color:#3a0d0f;">
                            <img src="img/verse_day1.jpg">
                            <div class="ct_verse_overlay">
                                <span class="ct_saved_verse_date">1 day ago</span>
                                <div class="ct_verse_head">
                                    <h4 class="mb-0">James 1:19 ESV</h4>
                                    <p>
                                        Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                                    </p>
                                 <div class="ct_socials_bottom_position">
                                    <div class="d-flex align-items-center">
                                        <div class="ct_share_main">
                                            <i class="fa-solid fa-share-nodes"></i>
                                            <ul class="ct_animated_socials">
                                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                <li> <a href="#"><i class="fa-solid fa-envelope"></i></a> </li> 
                                                <li> <a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                                <li> <a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-digg"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-stumbleupon"></i></a></li>
                                                <li> <a href="#"><i class="fa-brands fa-reddit"></i></a></li>
                                            </ul>
                                           </div>
                                     </div>
                                  
                                 </div>
            
                                   
                                </div>
            
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <div class="ct_verse_bg mb-4" style="background-color:#3a0d0f;">
                            <div class="ct_verse_overlay">
                                <span class="ct_saved_verse_date">2 day ago</span>
                                <div class="ct_verse_head">
                                    <h4 class="mb-0">James 1:19 ESV</h4>
                                    <p>
                                        Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                                    </p>
                                 <div class="ct_socials_bottom_position">
                                    <div class="d-flex align-items-center">
                                        <div class="ct_share_main">
                                            <i class="fa-solid fa-share-nodes"></i>
                                            <ul class="ct_animated_socials">
                                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                <li> <a href="#"><i class="fa-solid fa-envelope"></i></a> </li> 
                                                <li> <a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                                <li> <a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-digg"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-stumbleupon"></i></a></li>
                                                <li> <a href="#"><i class="fa-brands fa-reddit"></i></a></li>
                                            </ul>
                                           </div>
                                     </div>
                                  
                                 </div>
            
                                   
                                </div>
            
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="ct_verse_bg mb-4" style="background-color:#3a0d0f;">
                            <img src="img/verse_day2.jpg">
                            <div class="ct_verse_overlay">
                                <span class="ct_saved_verse_date">3 day ago</span>
                                <div class="ct_verse_head">
                                    <h4 class="mb-0">James 1:19 ESV</h4>
                                    <p>
                                        Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                                    </p>
                                 <div class="ct_socials_bottom_position">
                                    <div class="d-flex align-items-center">
                                        <div class="ct_share_main">
                                            <i class="fa-solid fa-share-nodes"></i>
                                            <ul class="ct_animated_socials">
                                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                <li> <a href="#"><i class="fa-solid fa-envelope"></i></a> </li> 
                                                <li> <a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                                <li> <a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-digg"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-stumbleupon"></i></a></li>
                                                <li> <a href="#"><i class="fa-brands fa-reddit"></i></a></li>
                                            </ul>
                                           </div>
                                     </div>
                                  
                                 </div>
            
                                   
                                </div>
            
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        <div class="ct_verse_bg mb-4" style="background-color:#3a0d0f;">
                            <img src="img/verse_day1.jpg" >
                            <div class="ct_verse_overlay">
                                <span class="ct_saved_verse_date">4 day ago</span>
                                <div class="ct_verse_head">
                                    <h4 class="mb-0">James 1:19 ESV</h4>
                                    <p>
                                        Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                                    </p>
                                 <div class="ct_socials_bottom_position">
                                    <div class="d-flex align-items-center">
                                        <div class="ct_share_main">
                                            <i class="fa-solid fa-share-nodes"></i>
                                            <ul class="ct_animated_socials">
                                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                <li> <a href="#"><i class="fa-solid fa-envelope"></i></a> </li> 
                                                <li> <a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                                <li> <a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-digg"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-stumbleupon"></i></a></li>
                                                <li> <a href="#"><i class="fa-brands fa-reddit"></i></a></li>
                                            </ul>
                                           </div>
                                     </div>
                                  
                                 </div>
            
                                   
                                </div>
            
                               
                            </div>
                        </div>
                    </div>

                </div>
             
            
              
            </div>
            <div class="tab-pane fade" id="pills-Notes" role="tabpanel" aria-labelledby="pills-Notes-tab">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="ct_notes_box">
                           <h4> Verse: John 3:16 (NIV)</h4>
                            <p>Note: "God's love, as shown through Jesus, offers eternal life to all who believe. It's a profound reminder of His boundless grace and the depth of His affection for humanity."</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="ct_notes_box">
                           <h4> Verse: John 3:16 (NIV)</h4>
                            <p>Note: "God's love, as shown through Jesus, offers eternal life to all who believe. It's a profound reminder of His boundless grace and the depth of His affection for humanity."</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="ct_notes_box">
                           <h4> Verse: John 3:16 (NIV)</h4>
                            <p>Note: "God's love, as shown through Jesus, offers eternal life to all who believe. It's a profound reminder of His boundless grace and the depth of His affection for humanity."</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="ct_notes_box">
                           <h4> Verse: John 3:16 (NIV)</h4>
                            <p>Note: "God's love, as shown through Jesus, offers eternal life to all who believe. It's a profound reminder of His boundless grace and the depth of His affection for humanity."</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="ct_notes_box">
                           <h4> Verse: John 3:16 (NIV)</h4>
                            <p>Note: "God's love, as shown through Jesus, offers eternal life to all who believe. It's a profound reminder of His boundless grace and the depth of His affection for humanity."</p>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="ct_notes_box">
                           <h4> Verse: John 3:16 (NIV)</h4>
                            <p>Note: "God's love, as shown through Jesus, offers eternal life to all who believe. It's a profound reminder of His boundless grace and the depth of His affection for humanity."</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="tab-pane fade" id="pills-Saved-Edited-Verses" role="tabpanel" aria-labelledby="pills-Saved-Edited-Verses-tab">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="ct_verse_bg mb-4" style="background-color:#f5f5f5; height: 300px;">
                            <div class="ct_verse_overlay">
                                <div class="ct_verse_head">
                                    <h4 class="mb-0" style="color: #000;">James 1:19 ESV</h4>
                                    <p style="color: #000;">
                                        Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="ct_verse_bg mb-4" style="background-color:#ebaf0d; height: 300px;">
                            <div class="ct_verse_overlay">
                                <div class="ct_verse_head">
                                    <h4 class="mb-0" style="color: #000;  font-family: 'Roboto', sans-serif;font-size: 35px; ">James 1:19 ESV</h4>
                                    <p style="color: #000; font-family: 'Roboto', sans-serif;">
                                        Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="ct_verse_bg mb-4" style="background-color:#3a0d0f; height: 300px;">
                            <div class="ct_verse_overlay">
                                <div class="ct_verse_head">
                                    <h4 class="mb-0" style="color: #fff;  font-family: 'Ubuntu', sans-serif; font-size: 28px;">James 1:19 ESV</h4>
                                    <p style="color: #fff;  font-family: 'Ubuntu', sans-serif;">
                                        Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="ct_verse_bg mb-4" style="background-color:#ebaf0d; height: 300px;">
                            <div class="ct_verse_overlay">
                                <div class="ct_verse_head">
                                    <h4 class="mb-0" style="color: #000;  font-family: 'Roboto', sans-serif; font-size: 24px;">James 1:19 ESV</h4>
                                    <p style="color: #000; font-family: 'Roboto', sans-serif;">
                                        Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="ct_verse_bg mb-4" style="height: 300px;">
                            <img src="img/verse_day1.jpg" style="height: 300px;">
                            <div class="ct_verse_overlay">
                                <div class="ct_verse_head">
                                    <h4 class="mb-0" style="color: #fff;  font-family: 'Ubuntu', sans-serif;">James 1:19 ESV</h4>
                                    <p style="color: #fff;  font-family: 'Ubuntu', sans-serif;">
                                        Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="ct_verse_bg mb-4" style="background-color:#ebaf0d; height: 300px;">
                            <div class="ct_verse_overlay">
                                <div class="ct_verse_head">
                                    <h4 class="mb-0" style="color: #000;  font-family: 'Roboto', sans-serif; ">James 1:19 ESV</h4>
                                    <p style="color: #000; font-family: 'Roboto', sans-serif;">
                                        Know this, my beloved brothers let every person be quick to hear, slow to speak, slow to anger
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="pills-Friends-Email-List" role="tabpanel" aria-labelledby="pills-Friends-Email-List-tab">
                <div class="ct_past_dailys_section mb-5">
                    <h4 class="mb-0 ct_h2 mb-4">Friends Email List</h4>
    
                    <div class="table-responsive ct_custom_table">
                        <table class="table  table-striped w-100"  id="example">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="form-check ct_terms_check mt-3">
                                            <input type="checkbox" class="form-check-input" name="option1" value="something">
                                        </div>
                                    </th>
                                    <th>Name</th>
                                    <th>Friends Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-check ct_terms_check mt-3">
                                            <input type="checkbox" class="form-check-input" name="option1" value="something">
                                        </div>
                                    </td>
                                    <td>
                                        John
                                    </td>
                                    <td>johncom</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check ct_terms_check mt-3">
                                            <input type="checkbox" class="form-check-input" name="option1" value="something">
                                        </div>
                                    </td>
                                    <td>
                                        Andrew
                                    </td>
                                    <td>andrewcom</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check ct_terms_check mt-3">
                                            <input type="checkbox" class="form-check-input" name="option1" value="something">
                                        </div>
                                    </td>
                                    <td>
                                        Andrew
                                    </td>
                                    <td>andrewcom</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check ct_terms_check mt-3">
                                            <input type="checkbox" class="form-check-input" name="option1" value="something">
                                        </div>
                                    </td>
                                    <td>
                                        Andrew
                                    </td>
                                    <td>andrewcom</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check ct_terms_check mt-3">
                                            <input type="checkbox" class="form-check-input" name="option1" value="something">
                                        </div>
                                    </td>
                                    <td>
                                        Andrew
                                    </td>
                                    <td>andrewcom</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check ct_terms_check mt-3">
                                            <input type="checkbox" class="form-check-input" name="option1" value="something">
                                        </div>
                                    </td>
                                    <td>
                                        Andrew
                                    </td>
                                    <td>andrewcom</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check ct_terms_check mt-3">
                                            <input type="checkbox" class="form-check-input" name="option1" value="something">
                                        </div>
                                    </td>
                                    <td>
                                        Andrew
                                    </td>
                                    <td>andrewcom</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check ct_terms_check mt-3">
                                            <input type="checkbox" class="form-check-input" name="option1" value="something">
                                        </div>
                                    </td>
                                    <td>
                                        Andrew
                                    </td>
                                    <td>andrew</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-check ct_terms_check mt-3">
                                            <input type="checkbox" class="form-check-input" name="option1" value="something">
                                        </div>
                                    </td>
                                    <td>
                                        Andrew
                                    </td>
                                    <td>andrew</td>
                                </tr>
    
                            </tbody>
    
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-Saved-Searches" role="tabpanel" aria-labelledby="pills-Saved-Searches-tab">
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="ct_search_list">
                           <h4>Keyword: John 3:16</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ct_search_list">
                           <h4>Keyword: John 3:16</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ct_search_list">
                           <h4>Keyword: John 3:16</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ct_search_list">
                           <h4>Keyword: John 3:16</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ct_search_list">
                           <h4>Keyword: John 3:16</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ct_search_list">
                           <h4>Keyword: John 3:16</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ct_search_list">
                           <h4>Keyword: John 3:16</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ct_search_list">
                           <h4>Keyword: John 3:16</h4>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>


   <section class="mb-3">
    <div class="container">
        <div class="col-md-12">
            <div class="ct_banner_small">
                <img src="img/verse_day2.jpg" alt="">
            </div>
        </div>

    </div>
   </section>
   <section>
    <div class="container">
        <div class="col-md-12">
            <div class="ct_banner_big">
                <img src="img/verse_day2.jpg" alt="">
            </div>
        </div>

    </div>
   </section>


   


</div>