<div class="ct_sidebar">
    <div class="ct_close_btn">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="ct_logo">
        <img src="assets/img/login_main.png" alt="">
        
    </div>
    <ul class="mb-0 ps-0 ct_menu_links mt-5">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="past_dailys.html">Past Dailys</a></li>
        <li><a href="Books-of-the-bible.html">Books of the Bible</a></li>
        <li><a href="member-area.html">Member Area</a></li>
        <li><a href="suggested-sites.html">Suggested Sites</a></li>
        <li>
            <a href="send-bible-verse.html">Send Bible Verses</a>
        </li>
    </ul>
    <div class="owl-carousel owl-theme ct_ads_slider mt-4">
        <div class="item">
            <img src="assets/img/verse_day1.jpg" alt="">
        </div>
        <div class="item">
            <img src="assets/img/verse_day2.jpg" alt="">
        </div>
        <div class="item">
            <img src="assets/img/verse_day1.jpg" alt="">
        </div>
        </div>
</div>