<div class="ct_sidebar">
    <div class="ct_close_btn">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="ct_logo">
        <img src="assets/img/login_main.png" alt="">
        
    </div>
    <ul class="mb-0 ps-0 ct_menu_links mt-5">
        <li ><a routerLink="/main/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Home</a></li>
        <li><a routerLink="/main/past_daily" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" >Past Dailys</a></li>
        <li><a routerLink="/main/bible_books" routerLinkActive="active" >Books of the Bible</a></li>
        <li><a routerLink="/main/member_area" routerLinkActive="active" >Member Area</a></li>
        <li><a routerLink="/main/suggested_bible" routerLinkActive="active" >Suggested Sites</a></li>
        <li>
            <a routerLink="/main/bible_books">Send Bible Verses</a>
        </li>
    </ul>
    <div class="owl-carousel owl-theme ct_ads_slider mt-4">
        <div class="item">
            <img src="assets/img/verse_day1.jpg" alt="">
        </div>
        <div class="item">
            <img src="assets/img/verse_day2.jpg" alt="">
        </div>
        <div class="item">
            <img src="assets/img/verse_day1.jpg" alt="">
        </div>
        </div>
</div>