/* You can add global styles to this file, and also import other style files */
 /* regular style toast */
@import 'ngx-toastr/toastr';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
/* @use '@angular/material' as mat; */

@import url('https://fonts.googleapis.com/css?family=Play:400,700|Roboto:400,500,500i,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* @import '~ngx-sharebuttons/themes/default'; */
/* @import '~normalize.css'; */
/* @import 'assets/style/material';
@import 'assets/style/code'; */
/* @import '../../ngx-sharebuttons/themes/modern';
@import '../../ngx-sharebuttons/themes/circles';
@import '../../ngx-sharebuttons/themes/material';
@import '../../ngx-sharebuttons/themes/outline';
@import '../../ngx-sharebuttons/themes/classic';
@import '../../ngx-sharebuttons/themes/default'; */
/* @import '../node_modules/ngx-sharebuttons/themes/circles.scss'; 
@import '../node_modules/ngx-sharebuttons/themes/material.scss';
@import '../node_modules/ngx-sharebuttons/themes/circles.scss';
@import '../node_modules/ngx-sharebuttons/themes/default.scss'; */

/* @import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default'; */

.ct_innerhtml_p p {
    color: black;
}

h4.ct_innerhtml_p{
    font-family: 'Roboto', sans-serif;
}

.error-message {
    color: red;
  }


  /* Order */
@layer reset, primeng;

/* Reset CSS */


.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(1) button.sb-wrapper {
    background: #607D8B !important;
}

.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(2) button.sb-wrapper {
    background: #4267B2;
}
.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(3) button.sb-wrapper {
    background: #FF961C;
}
.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(4) button.sb-wrapper {
    background: #0080FF;
}
.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(5) button.sb-wrapper {
    background: #eb4924;
}
.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(6) button.sb-wrapper {
    background: #00b900;
}
.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(7) button.sb-wrapper {
    background: #006fa6;
}
.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(8) button.sb-wrapper {
    background: #BD091D;
}
.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(9) button.sb-wrapper {
    background: #7459a1;
}
.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(10) button.sb-wrapper {
    background: #ff3d06;
}
.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(11) button.sb-wrapper {
    background: #1fa962;
}
.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(12) button.sb-wrapper {
    background: #0a78b3;
}
.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(13) button.sb-wrapper {
    background: #2d4152;
}
.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(14) button.sb-wrapper {
    background: #009bd7;
}
.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(15) button.sb-wrapper {
    background: #5e5495;
}
.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(16) button.sb-wrapper {
    background: #466895;
}
.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(17) button.sb-wrapper {
    background: #005c5d;
}
.sb-group.sb-modern-dark share-button.sb-button.sb-modern-dark:nth-child(18) button.sb-wrapper {
    background: #04a503;
}
.sb-group.sb-modern-dark {
    flex-direction: column;
}

button.sb-wrapper.sb-show-icon {
    width: 35px !important;
    height: 35px !important;
    min-width: 22px !important;
    border-radius: 100px;
    font-size: 12px;

}

span.text-big {
    font-size: 28.2px !important;
}

span.text-huge {
    font-size: 32.2px !important;
}

.ct_verse_title_clr_12 {
    color: #fff !important;
}
.ct_verse_title_clr_12 h3 {
   font-size: 34px !important;
}
.ct_verse_title_clr_12 h2 {
   font-size: 36px !important;
}