<div class="ct_middle_cnt">
    <h4 class="mb-0 ct_h2 mb-4">Books of the Bible</h4>
    <div class="ct_custom_tabs">
        
        <ul class="nav nav-pills mb-3 justify-content-center ct_books_testament_tab" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-old-testament-tab" data-bs-toggle="pill" data-bs-target="#pills-old-testament" type="button" role="tab" aria-controls="pills-old-testament" aria-selected="true">Old Testament</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-new-testament-tab" data-bs-toggle="pill" data-bs-target="#pills-new-testament" type="button" role="tab" aria-controls="pills-new-testament" aria-selected="false">New Testament</button>
            </li>
          </ul>
          <div class="tab-content mt-5" id="pills-tabContent">
         
            <div class="tab-pane fade show active" id="pills-old-testament" role="tabpanel" aria-labelledby="pills-old-testament-tab">
                <h4 class="mb-0 ct_h2 mb-4">Old Testament</h4>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="ct_testament_box">
                           <h5><a href="bible-chapter.html">Genesis</a></h5>
                            <p>
                                Genesis speaks of beginnings and is foundational to the understanding of the rest of the Bible. It is supremely a book that speaks about relationships, highlighting those between God and his creation, between God and humankind, and between human beings.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="ct_testament_box">
                           <h5><a href="bible-chapter.html"> Exodus</a></h5>
                            <p>Exodus describes the history of the Israelites leaving Egypt after slavery. The book lays a foundational theology in which God reveals his name, his attributes, his redemption, his law and how he is to be worshiped.</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="ct_testament_box">
                           <h5><a href="bible-chapter.html">Leviticus</a></h5>
                            <p>Leviticus receives its name from the Septuagint (the pre-Christian Greek translation of the Old Testament) and means "concerning the Levites" (the priests of Israel). It serves as a manual of regulations enabling the holy King to set up his earthly throne among the people of his kingdom. It explains how they are to be his holy people and to worship him in a holy manner.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="ct_testament_box">
                           <h5><a href="bible-chapter.html">Numbers</a></h5>
                            <p>Numbers relates the story of Israel's journey from Mount Sinai to the plains of Moab on the border of Canaan. The book tells of the murmuring and rebellion of God's people and of their subsequent judgment.</p>
                        </div>
                    </div>
                   
                    
                </div>
            
              
            </div>
            <div class="tab-pane fade" id="pills-new-testament" role="tabpanel" aria-labelledby="pills-new-testament-tab">
                <h4 class="mb-0 ct_h2 mb-4">New Testament</h4>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="ct_testament_box">
                           <h5><a href="bible-chapter.html">Matthew</a></h5>
                            <p>
                                Matthew's main purpose in writing his Gospel (the "good news") is to prove to his Jewish readers that Jesus is their Messiah. He does this primarily by showing how Jesus in his life and ministry fulfilled the Old Testament Scriptures.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="ct_testament_box">
                           <h5><a href="bible-chapter.html"> Mark</a></h5>
                            <p>Since Mark's Gospel (the "good news") is traditionally associated with Rome, it may have been occasioned by the persecutions of the Roman church in the period c. A.D. 64-67. Mark may be writing to prepare his readers for such suffering by placing before them the life of our Lord.</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="ct_testament_box">
                           <h5><a href="bible-chapter.html">Luke</a></h5>
                            <p>Luke's Gospel (the "good news") was written to strengthen the faith of all believers and to answer the attacks of unbelievers. It was presented to debunk some disconnected and ill-founded reports about Jesus. Luke wanted to show that the place of the Gentile (non-Jewish) Christian in God's kingdom is based on the teaching of Jesus.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="ct_testament_box">
                           <h5><a href="bible-chapter.html">John</a></h5>
                            <p>John's Gospel (the "good news") is rather different from the other three, highlighting events not detailed in the others. The author himself states his main purpose clearly in 20:31: "that you may believe that Jesus is the Christ, the Son of God, and that by believing you may have life in his name."</p>
                        </div>
                    </div>
                   
                    
                </div>
            </div>
          
           
    </div>


   <section class="mb-3">
    <div class="container">
        <div class="col-md-12">
            <div class="ct_banner_small">
                <img src="img/verse_day2.jpg" alt="">
            </div>
        </div>

    </div>
   </section>
   <section>
    <div class="container">
        <div class="col-md-12">
            <div class="ct_banner_big">
                <img src="img/verse_day2.jpg" alt="">
            </div>
        </div>

    </div>
   </section>


   


</div>
</div>